@charset "utf-8";
/* CSS Document */
/* Devon's Gaming Website Style Sheet*/

/* Order is top, right, bottom, left*/


body		{
			color: black;  
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";   
			font-size: 12px;  
			line-height: 24px;
			background-image:url(images/red_grey_lines.jpg);
	 		background-attachment: fixed;			
			background-size:cover;
			background-position: center;
			margin:0px;
			}



h3 		 	{ /*Lazy Tortoise*/
			color:white;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			letter-spacing:2px;
			}




			/*top, right, bottom, left*/

#nav 	 	{
			width: auto;
			height: 60px;
			background-color:red;
			color:red;
			text-align:left;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			font-size:20px;
			padding:35px 0px 0px 35px;
			
			}

				#nav a:link {color:white; text-decoration:none; padding: 25px 10px 0px 10px;}
				#nav a:visited {color:white; text-decoration: none; padding: 25px 10px 0px 10px; }
				#nav a:hover {color:white; text-decoration:none; padding: 25px 30px 25px 30px;background-color:darkred} 
				#nav a:active {color:white; text-decoration: none;  padding: 25px 30px 25px 30px;background-color:firebrick;}

				



#nav2		{ /*Lazy Tortoise - Uses H3*/
			width:auto;
			height:25px;
			background-color:black;
			text-align:right;
			padding:.1px 5px 20px;
			
	
			}




#wrapper 	{
			width: 900px;
			height:auto;
		 	margin:0px auto;
			}



#content 	{
			width: 900px;
			height: 709px;
			background-color:grey;
			padding: 25px ;
			}



			/*top, right, bottom, left*/

#footer 	{
			width: auto;
			height: 60px;
			background-color:red;
			color:white;
			text-align:right;
			font-size:12px;
			padding:10px 0px 0px 35px;
			}

				#footer a:link {color:black; text-decoration: none; padding: 0px 10px 0px 10px; }
				#footer a:visited {color:black; text-decoration: none; padding: 0px 10px 0px 10px; }
				#footter a:hover {color:black; text-decoration:none; padding: 4px 30px 11px 30px; }
				#footer a:active {color:black; text-decoration: none; padding: 4px 30px 11px 30px; }